body {
    display: block;
    justify-content: center;
    align-content: space-between;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #B9D1EE;
}

header{
    margin: 0px;
    padding: 3.5vh;
    background-color: #173F5F;
}

header h1{
    margin: 0px;
    text-align: center;
    color: white;
}

#Table-section {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

#Table-section table{
}

#Table-section h1{
    justify-self: center;
}

.h1div h1 {
    justify-self: center;
    margin: 0px;
    margin-top: 20px;
}

.h1div{
    display: flex;
    justify-content: center;
    width: 100%;
}

#new-list-section {
    display: flex;
    background-color: #20639B;
    width: 100%;
    justify-content: center;
}

.flex-item{
    width: 50%;
 }

.TODO-table {
    width: 100%;
    margin: 0;
    max-width: 100%;
}

.TODO-div {
    border: black 2px solid;
}

.TODO-row {
    background-color: aqua;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: #20639B;
    width: 100%;
    padding: 2.5vh;
    text-align: center;
    font-style: italic;
}
